<!-- <button (click)="onShowNew()">Show new words</button>
<button (click)="onShowOnLearn()">Show on learn</button>
<button (click)="onLearn()">Learn mode</button> -->
<h4>{{sTableTitle}}</h4>
<table>
  <thead>
    <td>Number</td>
    <td>Word</td>
    <td>Input</td>
    <td></td>
    <td></td>
    <td></td>
  </thead>
  <tbody>
    <tr *ngFor="let oWord of aVocab; index as i" class="table-row" [class.focused]="selectedWord === oWord">
      <td>{{i + 1}}</td>
      <td>{{oWord.russian}}</td>
      <td *ngIf="learnMode">
        <p>{{oWord.english}}</p>
      </td>
      <td *ngIf="hintWord === oWord && !learnMode"><input type="text" (input)="checkAnswer($event, oWord)"
          [placeholder]="hintWord.english" (focus)="onFocus(oWord)" /></td>
      <td *ngIf="hintWord !== oWord && !learnMode"><input type="text" (input)="checkAnswer($event, oWord)"
          (focus)="onFocus(oWord)" /></td>
      <td>
        <button (click)="onDelete(oWord)" tabindex="-1">Delete</button>
      </td>
      <td>
        <button (click)="onMarkAsLearned(oWord)" tabindex="-1">Learned</button>
      </td>
      <td>
        <button (click)="onGiveHint(oWord)">Hint</button>
      </td>
    </tr>
  </tbody>
</table>
