<app-table-header [sTableTitle]="sTableTitle"></app-table-header>
  <div class="wrapper">
  <table>
    <thead>
      <td>Number</td>
      <td>Word</td>
      <td>Input</td>
    </thead>
    <tbody>
      <tr *ngFor="let oWord of aVocab; index as i" [class.focused]="oWord === focusedRow">
        <td>{{i + 1}}</td>
        <td>{{oWord.russian}}</td>
        <td>
          <input type="text" [attr.id]="i" (input)="checkAnswer($event.target, oWord, i)"
            (keyup)="onKeyup($event, oWord)" (focus)="onFocus(oWord)">
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!aVocab.length">
    <h3>There no words to revise!!!</h3>
    <h1>Congratulations!!!!</h1>
  </div>
</div>
