  <app-table-header [sTableTitle]="sTableTitle"></app-table-header>
  
  <table mat-table [dataSource]="aVocab">
    <ng-container matColumnDef="russian">
      <th mat-header-cell *matHeaderCellDef>Russian</th>
      <td mat-cell *matCellDef="let oWord">{{oWord.russian}}</td>
    </ng-container>
  
    <ng-container matColumnDef="input">
      <th mat-header-cell *matHeaderCellDef>Input</th>
      <td mat-cell *matCellDef="let oWord; let i = index">
        <input type="text" [attr.id]="i" (input)="checkAnswer($event.target, oWord, i)"
        (keyup)="onKeyup($event, oWord)" (focus)="onFocus(oWord)"/>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
  </table>