table {
  width: 100%;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
/* .wrapper {
  width: 50%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead>td {
  background-color: #ebf3f9;
}

tbody>tr>td {
  border-bottom: 1px solid gray;
}

tr>td:first-child {
  background-color: #ebf3f9;
}

.focused {
  background-color: #ddd;
}

td {
  vertical-align: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

input {
  height: 25px;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  outline: none;
} */
