<nav>
  <div *ngIf="!bIsNewPress">
    <a mat-stroked-button (click)="onClick($event)"    routerLink="/new-words">New</a>
    <a mat-raised-button (click)="onClick($event)"  routerLink="/revise">Revise</a>
  </div>
  <div *ngIf="bIsNewPress">
    <a mat-raised-button (click)="onClick($event)"  routerLink="/new-words">New</a>
    <a mat-stroked-button (click)="onClick($event)" routerLink="/revise">Revise</a>
  </div>
  <label>
    Enter number of learned words:
    <input type="number" [(ngModel)]="iWordsForLearn"/>
  </label>
</nav>